﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Linnamuuseumi_projekt</title>
    <link href="lib/winjs-4.0.1/css/ui-light.css" rel="stylesheet" />
    
    <script src="lib/winjs-4.0.1/js/base.js"></script>
    <script src="lib/winjs-4.0.1/js/ui.js"></script>
    
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/bootstrap-theme.min.css" rel="stylesheet" />

    <script src="js/angular.min.js"></script>
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/wheelzoom.js"></script>
    
    <link href="css/default.css" rel="stylesheet" />
    <script src="js/main.js"></script>
</head>
<body style="background-color:#f9f9f9;height:100%;" ng-app="myApp" ng-controller="mainController">
    <div style="height:100%;margin:0;padding:0;width:100%" class="container" >
        
        <div class="row" style="height:100%;padding:0;margin:0;">
            <div id="decrease-button" style="height:100%;display: table; text-align: center;padding:0;margin:0;" class="col-sm-1 col-md-1 col-lg-1 move-btn" onclick="changePage">
                <span style="display: table-cell; vertical-align: middle;" class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
            </div>
            <div ng-repeat="page in pages">
                <div ng-if="page.visible">
                    <div id="text" class="col-sm-3 col-md-3 col-lg-3" ng-bind-html="page.text">
                    </div>
                    <div id="image-holder" style="max-height:100%;text-align: center;" class="col-sm-7 col-md-7 col-lg-7">
                        <img id="main-image" style="display:block;height:auto;width:auto;max-height:100vh;" class="img-responsive" ng-src="{{page.picture}}" imageonload="imageLoaded(this)" />
                    </div>
                </div>
            </div>
            <div id="increase-button" style="height:100%;display: table; text-align: center;padding:0;margin:0;" class="col-sm-1 col-md-1 col-lg-1 move-btn" onclick="changePage">
                <span style="display: table-cell; vertical-align: middle;" class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
            </div>

        </div>
    </div>
</body>
</html>